In [0]:
import tweepy
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
from tweepy import Stream

import time

import csv

import pandas as pd

import numpy as np

In [0]:
consumer_key='5KFQk6RSevfGOyOwlbjxXFZPv'
consumer_secret='tHW0aoNCSW4LlB1soZem7H2YZAMwJzNTgrdCqFaiI9iHm2GiZA'
access_token='752493770894143488-L7FCWk0FYlcRs4MqPkxIsbno9b93QiJ'
access_token_secret='oDOuCi7lngl7UpDUpBJYDLHuWRQWCJ2mo13QJ46dMJ10S'

In [0]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [0]:
df = pd.DataFrame(columns = ['ID', 'User', 'Tweets','fav_count', 'rt_count', 'tweet_date'])

In [0]:
def stream(data, file_name):
    i = 0
    for tweet in tweepy.Cursor(api.search, q=data, count=100, lang='en').items():
        print(i, end='\r')
        df.loc[i, 'ID'] = tweet.id
        df.loc[i, 'Tweets'] = tweet.text
        df.loc[i, 'User'] = tweet.user.name
        df.loc[i, 'fav_count'] = tweet.favorite_count
        df.loc[i, 'rt_count'] = tweet.retweet_count
        df.loc[i, 'tweet_date'] = tweet.created_at
        df.to_excel('{}.xlsx'.format(file_name))
        i+=1
        if i == 1000:
            break
        else:
            pass

In [6]:
stream(data = ['Donald Trump'], file_name = 'my_tweets')

In [7]:
df.head()

                    ID               User  ... rt_count           tweet_date
0  1258125196784832514     Sandra Gibbons  ...      201  2020-05-06 20:03:16
1  1258125194771566592  CORONAVIRUSUPDATE  ...        0  2020-05-06 20:03:15
2  1258125190418096131      Para Comentar  ...        0  2020-05-06 20:03:14
3  1258125190384533507      Jimmie Carter  ...       13  2020-05-06 20:03:14
4  1258125189524664324          ðŸŒ¹ðŸ’œLindaðŸ’œðŸŒ¹  ...       22  2020-05-06 20:03:14

[5 rows x 6 columns]